*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid
{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    
}

.row
{

    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right:-5px ;
}
.col-1
{
    width: 8.333%;
    padding: 0 12px;
}
.col-2
{
    width: 20%;
    padding: 0 7px;
}
.col-3
{
    width: 25%;
    padding: 0 8px;
}
.col-4
{
    width: 33.333%;
    padding: 0 12px;
}
.col-5
{
    width: 48.5%;
}
.col-6
{
    width: 50%;
    padding: 0 12px;
}

.col-8
{
    width: 66.667%;
    padding: 0 12px;
}

.col-10
{
    width: 83.333%;
    padding: 0 12px;
}
.col-12
{
    width: 100%;
    padding: 0 12px;
}